body {
    font-size: 17px;
    color:#fff;
    background-color:whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header-nav {
    background-color: wheat;
    /*make it not round*/
    border-radius: 0;
    /*stretch all the way across the web*/
    border:0;
}

#logo-img {
    width: 200px;
    height: 200px;
    margin:-20px -25px -70px -50px;
}

.navbar-brand {
    padding-top:25px;
}

.navbar-brand h1{
    font-family: 'Lora',serif;
    color:#557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;

}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {
    color:#000;
    text-transform: uppercase;
    font-size:.7em;
    margin-top:15px;
}
.navbar-brand p span{
    vertical-align: middle;
}



#phone {
    margin-top: 5px;
}

#phone a {
    text-align: right;
    padding-bottom: 0;
}

#phone div {
    color:#557c3e;
    text-align:right;
    padding-right: 15px;
}

/*styling the button*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border:1px solid whitesmoke;
}

/*coding the navbar button*/
.navbar-header button.navbar-toggle {
    clear:both;
    margin-top:-40px;
}

/*fixing navbar layout, text, and dropdown menus*/
.container .jumbotron{
    box-shadow: 0 0 35px rgb(179, 175, 175);
    border:3px solid whitesmoke;
    background-color: grey;
    
}

/* coding the navigation Tiles*/

#nav-list {
    margin-top:-5px;
    margin-bottom: -5px;
}

#nav-list a{
    color:#951C49;
    text-align: center;
    background-color:papayawhip;
}

#nav-list a:hover {
    background: #E7E7E7;
}

#nav-list a span {
    font-size: 1.5em;
}


#book-reviews, #events, #members {
    height:300px;
    width: 90%;
    margin-bottom: 15px;
    position: relative;
    border:2px solid black;
    overflow:hidden;
    border-radius: 0.25cm;
}

#book-reviews:hover, #events:hover, #members:hover {
    box-shadow:0 1px 5px 1px gray;
}

#book-reviews {
    background: url('book-ba.JPG') no-repeat;
    background-position: center;
}
#events {
    background: url('events-back.JPG') no-repeat;
    background-position: center;
}


#members {
    background: url('members-b.JPG') no-repeat;
    background-position: center;
}

#book-reviews span, #events span, #members span {
    position: relative;
    left:30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.6em;
    color:black;
    opacity: .8;
}


/*coding the footer*/

.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
}


#contacts, #joinus, #wechat, #foot{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
#contacts span, #joinus span, #wechat span{
    font-size: 1.3em;
    font-weight: 110%;
}

#foot {
    margin-top: 50px;
    text-align: center;
    
}

.panel-footer div.row {
    margin-bottom: 70px;
    margin-bottom: 0;
}

/*articles page*/
#articles-title {
    color: #222;
    margin-bottom: 30px;
    margin-top: 30px;
}

.text-center{
    color: #000;
}

.category-tile{
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    width: 200px;
    height: 300px;
    margin: 0 auto 15px;
}
.category-tile span {
    position:absolute;
    bottom: 0;
    right:0;
    width: 100%;
    text-align: center;
    font-size:1.2em;
    background-color: #000;
    color:#fff;
    opacity: .8;

}
.category-tile:hover {
    box-shadow: 5px 5px 5px 5px #cccccc;
}

#menu-categories-title + div {
    margin-bottom: 50px;
    
}

/*for assignment 3*/

#box5 {
    background-color:wheat;
    color:black;
    width: 30%;
    margin:1.5%;
    overflow:auto;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-bottom: 0.5cm;
    float: left;
}

#box6 {
    background-color:wheat;
    color:black;
    width: 30%;
    margin:1.5%;
    overflow:auto;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-bottom: 0.5cm;
    float: left;
}

#box7 {
    background-color:wheat;
    color:black;
    width: 30%;
    margin:1.5%;
    overflow:auto;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-bottom: 0.5cm;
    float: left;
}

.chicken,.beef,.sushi {
    color: #000;
    text-align: center;
}

/*end home page*/

@media (min-width:1200px){
    .container .jumbotron {
        background: url('img2-md.JPG') no-repeat center;
        height: 800px;
        width:900px;
        box-shadow: 0 0 50px rgb(165, 163, 163);
        border: 2px solid whitesmoke;
        padding: 0;
        
    }
}

@media (min-width:992px) and (max-width:1199px) {
    #logo-img {
        background: url('berlyn.png') no-repeat;
        width:100px;
        height:100px;
        margin: 5px 5px 5px 0;
    }

    .container .jumbotron {
        background: url('img2-md.JPG') no-repeat center;
        height: 800px;
        width:900px;
        box-shadow: 0 0 50px rgb(165, 163, 163);
        border: 2px solid whitesmoke;
        padding:0;
    }

   
   
    
}

@media (min-width:768px) and (max-width:991px) {
    .container .jumbotron {
        background: url('img2.JPG') no-repeat center;
        height: 600px;
        width:600px;
        box-shadow: 0 0 50px rgb(165, 163, 163);
        border: 2px solid whitesmoke;
        padding:0;
    }
    #members{
        width: 330px;
        margin:0 auto 15px;
    }

  
}

@media (max-width:767px){

    #box5 {
        width: auto;
    }
    #box6 {
        width: auto;
    }
    #box7 {
        width: auto;
    }
    .navbar-brand{
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h1{
        padding-top: 10px;
        font-size:4vw; /*1vw = 1% of viewport width*/
    }
    .navbar-brand p {
        font-size: .6em;
        margin-top: 12px;
    }
    .navbar-brand p img {
        height: 20px;
    }
    #collapsable-nav a {
        font-size: 1.0em;
    }

    #collapsable-nav a span {
        font-size:1em;
        margin-right: 5px;
    }

    /*Footer*/
    .panel-footer section {
        margin-bottom:30px;
        text-align:center;
    }

    .panel-footer section:nth-child(3) {
        margin-bottom:0;
    }

    .panel-footer section hr {
        width:50%;
    }

    .container .jumbotron {
        margin-top:30px;
        padding: 0;
        box-shadow: 0 0 50px rgb(165, 163, 163);
        border: 2px solid whitesmoke;
    }
    #book-reviews, #events,#members {
        width: 330px;
        margin:0 auto 15px;
    }

}

@media (max-width:479px) {
    .navbar-brand h1 {
        padding-top:5px;
        font-size:6vw;
    }
    #book-reviews, #events,#members {
        width:280px;
        margin:0 auto 15px;
    }
}

/*styling the dropdown menu*/

