* {
    box-sizing: border-box;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:175%;
    text-align: center; 
    font-weight: 500;
    margin-top: 20px;
}

#box1 {
    background-color:wheat;
    border:1px solid black;
    width: 30%;
    margin:1.5%;
    overflow:auto;
    float: left;
    position: relative;
   
}

#box2 {
    background-color:wheat;
    border:1px solid black;
    width: 30%;
    margin:1.5%;
    overflow:auto;
    float: left;
}

#box3 {
    background-color:wheat;
    border:1px solid black;
    width: 30%;
    margin:1.5%;
    overflow:auto;
    float: left;
}

h3.chicken {
    background-color: greenyellow;
    border: 1px solid black;
    color: black;
    width: 100px;
    text-align: center;
    margin-bottom: 1px;
    margin-top: 0;
    float:right;
    
}

h3.beef {
    background-color:pink;
    border: 1px solid black;
    color: black;
    display: block;
    width: 100px;
    text-align: center;
    margin-bottom: 1px;
    margin-top: 0;
    float:right;
}

h3.sushi {
    background-color:plum;
    border: 1px solid black;
    color: white;
    display: block;
    width: 100px;
    text-align: center;
    margin-bottom: 1px;
    margin-top: 0;
    float:right;
}

#content {
    font-size: 12px ;
    padding: 10px;
    text-align: left;
    clear:right;
}

@media (min-width: 992px) {
   
}

@media (min-width: 768px) and (max-width:991px) {
    #box1 {
        width: 47%;
        
    }

    #box2 {
        width: 47%;
        
    }

    #box3 {
        width: 97%;
        
    }

    
    
}

@media (max-width: 767px) {

    #box1 {
        width: 90%;
        margin:5%;
    }

    #box2 {
        width: 90%;
        margin:5%;
    }

    #box3 {
        width: 90%;
        margin:5%;
    }
    
}